@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ashbury';
  font-style: 'normal';
  font-weight: 100 900;
  src: url(/fonts/ashbury.otf) format('otf');
}

@font-face {
  font-family: 'Inter';
  font-style: 'normal';
  font-weight: 100 900;
  src: url(/fonts/inter.woff2) format('woff2');
}
