@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-100;
  }
}

@layer utilities {
  .container-homepage {
    max-width: 1080px;
  }

  .open {
    @apply translate-y-0;
  }

  .collapse-1 {
    transform: translateY(5px);
  }

  .collapse-2 {
    transform: translateY(-5px);
  }

  .bg-menu {
    background-color: #596460;
  }

  .text-menu {
    color: #eae8e3;
  }

  .text-link {
    color: #d7d5d6;
  }

  .border-menu {
    border-bottom: 1px solid rgba(237, 236, 233, 0.1);
    @apply pb-7;
  }
}

@font-face {
  font-family: 'Ashbury';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ashbury.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/inter.woff2') format('woff2');
}

.MENU-LINK {
  position: relative;
  display: inline-block;
}

.MENU-LINK:after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  height: 1px;
  background-color: #cfceca;
}

.MENU-LINK:hover:after {
  width: 100%;
  opacity: 1;
}

.SHOWCASE-LINK-ARROW-1 {
  position: absolute;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
}

.SHOWCASE-LINK-ARROW-2 {
  position: absolute;
  opacity: 1;
  transform: translateX(14px);
  transition: all 0.3s ease-in-out;
}

.SHOWCASE-LINK:hover .SHOWCASE-LINK-TEXT {
  @apply text-gray-300;
}

.SHOWCASE-LINK:hover .SHOWCASE-LINK-ICON {
  @apply border-gray-500;
}

.SHOWCASE-LINK:hover .SHOWCASE-LINK-ARROW-1 {
  transform: translateX(14px);
  opacity: 1;
}

.SHOWCASE-LINK:hover .SHOWCASE-LINK-ARROW-2 {
  transform: translateX(38px);
  opacity: 0;
}
