@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .open {
    @apply translate-y-0;
  }

  .bg-menu {
    background-color: #596460;
  }
}

@font-face {
  font-family: 'Ashbury';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ashbury.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/inter.woff2') format('woff2');
}
