@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ashbury';
  font-style: 'normal';
  src: url(/fonts/ashbury.otf) format('otf');
}

@font-face {
  font-family: 'Inter';
  font-style: 'normal';
  src: url(/fonts/inter.woff2) format('woff2');
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
}
